/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    margin-top: 70px;
padding-left: 3%;
    
  }

  .topnav button{
    
    margin-left: 100px;
    height: 35px;
    width: 170px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-radius: 20px;
  }

  .page_title
  {
    margin-top: 70px;
  }
  

* {
  box-sizing: border-box;
}

.box {
  float: left;
  width: 20%;
  padding: 50px;
  margin: 100px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}